.task {
  width: 100%;
  padding: 16px;
  margin-bottom: 12px;
  box-sizing: border-box;
  background: #262626;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task:last-of-type {
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox {
  display: none;
}

.checkboxLabel {
  content: "";
  display: block;
  width: 17.45px;
  height: 17.45px;
  border-radius: 100%;
  border: 1px solid #4EA8DE;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.checkbox:checked + .checkboxLabel {
  background-color: #8284FA;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43059 0.342123L4.09865 4.67406L1.61618 2.19159L0.780273 3.0275L4.09865 6.34587L9.26649 1.17803L8.43059 0.342123Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  text-align: left;
}

.checkbox:checked ~ .name {
  text-decoration-line: line-through;
  color: #808080;
}

.delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
}